<!DOCTYPE html>
<html>
<head>
  <title>Add Author</title>
</head>
<body>

<h2>Add Author</h2>

<form action="/newAuthor" method="POST">

First Name:
<input name="firstName"><br>

Last Name:
<input name="lastName"><br>

Sex:
<input type="radio" name="sex" value="M"> Male
<input type="radio" name="sex" value="F"> Female<br>

DOB:
<input type="date" name="dob"><br>

DOD:
<input type="date" name="dod"><br>

Biography:
<textarea name="biography"></textarea><br>

Portrait URL:
<textarea name="portrait"></textarea><br>

<button>Add Author</button>

</form>

</body>
</html>