<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">🪐 Solar System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Planets
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/planet/mercury">Mercury</a></li>
                        <li><a class="dropdown-item" href="/planet/venus">Venus</a></li>
                        <li><a class="dropdown-item" href="/planet/earth">Earth</a></li>
                        <li><a class="dropdown-item" href="/planet/mars">Mars</a></li>
                        <li><a class="dropdown-item" href="/planet/jupiter">Jupiter</a></li>
                        <li><a class="dropdown-item" href="/planet/saturn">Saturn</a></li>
                        <li><a class="dropdown-item" href="/planet/uranus">Uranus</a></li>
                        <li><a class="dropdown-item" href="/planet/neptune">Neptune</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/asteroids">Asteroids</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/comets">Comets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nasa-pod">NASA POD</a>
                </li>
            </ul>
        </div>
    </div>
</nav>